.about {
  min-height: 80vh;
  width: 100%;
  background-color: #d2d2d2;
  color: #003366;
  display: flex;
  flex-direction: column;
}

.about-content {
  display: flex;
  justify-content: space-around;
  padding: 2rem;
  text-align: center;
  margin: auto 0;
}

.about-content__skills {
  text-align: cenetr;
}

.about-content__skills table {
  border-spacing: 1rem 0;
}

.about-content__skills h3 {
  text-align: center;
}

.about-content__skills table {
  margin: 0 auto;
}

.about-content__skills table tbody > tr {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

@media screen and (min-width: 480px) {
  .about-content {
    flex-direction: row;
  }
}

@media screen and (max-width: 480px) {
  .about-content {
    flex-direction: column;
  }

  .about-content__skills {
    flex-direction: column;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
  }
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0%);
}

.about-content__info {
}

.about-content__skills {
  transition-delay: 200ms;
}
