.projects {
  min-height: 80vh;
  width: 100%;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border-top: 1px solid var(--primary-color);
}

.projects-list {
  display: grid;
  padding: 5rem;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 4rem;
  justify-items: center;
  max-width: 1024px;
  margin-inline: auto;
}

@media (max-width: 640px) {
  .projects-list {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 640px) and (max-width: 1024px) {
  .projects-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1024px) {
  .projects-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
