:root {
  /*font-family: 'Josefin Sans', sans-serif;*/
  font-family: "League Spartan", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #333333;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --primary-color: #333333;
  --secondary-color: #d2d2d2;
  --accent-color: #ff5733;
  /*#ff5733 #003366*/

  --primaryHalf: #33333350;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 100%;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
p,
span {
  cursor: default;
}

.heading {
  font-size: 3rem;
  text-align: center;
  color: var(--accent-color);
  width: fit-content;
  margin-inline: auto;
  margin: 0 auto;
  padding: 1rem;
  border-radius: 1rem;
}

.accent-hr {
  border: 1px solid var(--secondary-color);
  box-shadow: 0 2px 18px 2px var(--accent-color);
  max-width: 1024px;
  margin: 0 auto;
  /* padding: 1rem; */
}
